<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Core">
      <directory>tests/src/DbPatch/Core</directory>
    </testsuite>
    <testsuite name="Command">
      <directory>tests/src/DbPatch/Command</directory>
    </testsuite>
  </testsuites>
  <filter>
      <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/DbPatch</directory>
        </whitelist>
  </filter>
  <logging>
    <log type="coverage-html"
      title="DbPatch"
      target="build/coverage"
      charset="UTF-8"
      yui="true"
      highlight="false"
      lowUpperBound="35"
      highLowerBound="70" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
  </logging>
</phpunit>
